<!doctype html>

{% load static %}
<html>

    <head>
        <title>Learn smoothly</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
        
        <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    </head>

    <body>
        <!-- Don't display the navbar for home, login or regirtration pages -->
        {% with path=request.get_full_path %}
            {% url 'home' as home_url %}
            {% url 'tests:login' as login_url %}
            {% url 'tests:register' as register_url %}
            
            {% if path != home_url and path != login_url and path != register_url %}
                {% include 'navbar.html' %}
            {% endif %}
        {% endwith %}


        <div class='content'>
            {% block content %}
                :!: Replaced text :!:
            {% endblock content %}
        </div>


        {% include 'bottombar.html' %}
    </body>

</html>
