{% extends "base.html" %}

{% block content %}

<div class='bg-container'>
    <div class='box-login'>

        <h1>Create an account</h1>


        <form action="{% url 'tests:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password"  placeholder="Password" data-toggle="password"><br>
            </div>

            <select class='login' name="function" size="1">
                <option value="" disabled selected>Select your function</option>
                <option>Student
                <option>Teacher
            </select><br><br>

            <select class='login' name="group1" size="1">
                <option value="" disabled selected>Select your primary group</option>
                <option>esilv_IF1
                <option>esilv_IF2
                <option>hec_COM1
                <option>hec_COM2
                <option>None
            </select><br><br>

            <select class="mdb-select md-form" name="group2" size="1">
                <option value="" disabled selected>Select your secondary group</option>
                <option>esilv_IF1
                <option>esilv_IF2
                <option>hec_COM1
                <option>hec_COM2
                <option>None
            </select><br><br><br>
            
            <button type="submit" class="btn btn-custom">Register</button>
        </form>

        <!-- {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %} -->
          
    </div>
</div>

{% endblock %}