/* Declare CSS variables */
/* :root {
} */



/* ================================== */
/*        Navbar properties           */
/* ================================== */

.navbar {
  left: 0;
  top: 0;
  width:100%;
  height: 40px;
  background-color: rgba(176, 176, 176, 0.482);
  border: none;
}

  .navbar-list {
    max-height: 40px;
    overflow-x: auto;
    overflow-y: auto;
    list-style-type: none;
    position: relative;
    top: 10px;
    padding: 0px 20%;
  }

  .navbar li {
    color: rgb(38, 38, 38);
    font-size: 17.5px;
    float: left;
    padding-bottom: 15px;
  }

  .navbar a {
    color: rgb(74, 74, 74);
    opacity: 0.6;
    text-decoration: none;
    padding: 10px 20px;
  }

  .navbar a:hover {
    opacity: 1;
    transition: opacity 0.6s;
  }


/* ================================== */
/*        Login/Register page         */
/* ================================== */

.bg-container {
    /* Enable relative boxes */
    display: -webkit-flex;  
    display: flex;

    /* Full view bg image */
    background-size: cover;
    background-image: url("/pages/static/images/bg_blue.JPG");
    height: 100vh;
    width: 100vw;
}

.box-login {
    /* Auto center within flex container */
    margin: auto;
}

.box-login h1 {
    /* Titles in box-login */
    color: rgb(130, 130, 136);
    text-align: center;
    margin-bottom: 1.5em;
  }

.box-login {
    /* Text in box-login */
    color: #828288;
}

input.login {
    margin-bottom: 1em;
}

#group1
{
    width:350px;
}


.btn-custom {
    background-color: hsl(219, 38%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c5585", endColorstr="#2c3f62");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c5585), to(#2c3f62));
    background-image: -moz-linear-gradient(top, #3c5585, #2c3f62);
    background-image: -ms-linear-gradient(top, #3c5585, #2c3f62);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c5585), color-stop(100%, #2c3f62));
    background-image: -webkit-linear-gradient(top, #3c5585, #2c3f62);
    background-image: -o-linear-gradient(top, #3c5585, #2c3f62);
    background-image: linear-gradient(#3c5585, #2c3f62);
    border-color: #2c3f62 #2c3f62 hsl(219, 38%, 25.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
  }


  .btn-custom:hover {
    background-color: hsl(219, 38%, 21%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#31466d", endColorstr="#212f49");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#31466d), to(#212f49));
    background-image: -moz-linear-gradient(top, #31466d, #212f49);
    background-image: -ms-linear-gradient(top, #31466d, #212f49);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #31466d), color-stop(100%, #212f49));
    background-image: -webkit-linear-gradient(top, #31466d, #212f49);
    background-image: -o-linear-gradient(top, #31466d, #212f49);
    background-image: linear-gradient(#31466d, #212f49);
    border-color: #212f49 #212f49 hsl(219, 38%, 18.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
  }


/* ================================== */
/*        Clickable-bar-home          */
/* ================================== */

.band-home {
  display: -webkit-flex;  
  display: flex;
  background-color: white;
  background-size: cover;
  background-image: url("/pages/static/images/bg_blue.JPG");
  background-attachment:fixed;
  background-repeat :no-repeat;
  height: 100vh;
  width: 100vw;
}

.clickable-bar-home {
  position: relative;
  margin: auto;
  width: 80vw;
  max-width: 60vh;
  height: 100%;
  max-height: 60vh;
  font-size: 16px;
}
.row {
  display: flex;
}
.box {
  margin: 6px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
  opacity: 1;
}
.box:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable-bar-home a {
  text-decoration: none;
  color: white;
}

#student .box {
  /* background: rgb(27, 34, 77); */
  background-image: url("/pages/static/images/bg_blue.JPG");
}

#teacher .box {
  background: rgb(50, 75, 50);
}

.box:hover {
  opacity: 1;
  transition: opacity .5s;
}

.band-home p {
    color: rgb(130, 130, 136);
}



/* ================================== */
/*              Content               */
/* ================================== */

.body {
  position: static;
  /* background-color:red; */
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 1vh;
  padding-bottom: 5vh;
}

.body h1 {
  color: rgb(19, 64, 179);
}

.launch {
  margin: auto;
  width: 50%;
}

.launch h1 {
  color: rgb(19, 64, 179);
  text-align: center;
}

.launch p{
  text-align: left;
  width: 60%;
}

.countdown p{
  text-align: center;
  color: crimson;
}

.launch button{ 
  background-color:white;
  border: 3px solid  black;
  border-radius: 12px;
  color:black;
  padding: 20px;    
  display: inline-block;  
  width: 125px;   
  margin-left: 40%;
  margin-right: 30%;
}

.launch button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #e6e6e6;
}

.launch button:active{
  background-color: #e6e6e6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}

.body.home {
  position: static;
  padding-top: 5vh;
  height: 100vh;
  width: 100vw;
  background-color: rgb(179, 179, 196);
}

.body.home img {
  position: relative;
  padding-bottom: 2%;
  padding-top: 2%;
}


